@using AdvancedWeb.Models.Helper
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Daily Shop | Home</title>

    <!-- Font awesome -->
    <link href="~/fonts/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <!-- Bootstrap -->
    <link href="~/Content/template/css/bootstrap.css" rel="stylesheet" />
    <!-- SmartMenus jQuery Bootstrap Addon CSS -->
    <link href="~/Content/template/css/jquery.smartmenus.bootstrap.css" rel="stylesheet" />
    <!-- Product view slider -->
    <link href="~/Content/template/css/jquery.simpleLens.css" rel="stylesheet" />
    <!-- slick slider -->
    <link href="~/Content/template/css/slick.css" rel="stylesheet" />
    <!-- price picker slider -->
    <link href="~/Content/template/css/nouislider.css" rel="stylesheet" />
    <!-- Theme color -->
    <link href="~/Content/template/css/theme-color/default-theme.css" rel="stylesheet" />

    <!-- Main style sheet -->
    <link href="~/Content/template/css/style.css" rel="stylesheet" />

    <!-- Google Font -->
    <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>

    <!-- jQuery library -->
    <script src="~/Scripts/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="~/Scripts/template/js/bootstrap.js"></script>
    <!-- SmartMenus jQuery plugin -->
    <script src="~/Scripts/template/js/jquery.smartmenus.js"></script>
    <!-- SmartMenus jQuery Bootstrap Addon -->
    <script src="~/Scripts/template/js/jquery.smartmenus.bootstrap.js"></script>
    <!-- Product view slider -->
    <script src="~/Scripts/template/js/jquery.simpleGallery.js"></script>
    <script src="~/Scripts/template/js/jquery.simpleLens.js"></script>
    <!-- slick slider -->
    <script src="~/Scripts/template/js/slick.js"></script>
    <!-- Price picker slider -->
    <script src="~/Scripts/template/js/nouislider.js"></script>
    <!-- Custom js -->
    <script src="~/Scripts/template/js/custom.js"></script>
</head>
<body>
    <!-- wpf loader Two -->
    <div id="wpf-loader-two">
        <div class="wpf-loader-two-inner">
            <span>Đang tải</span>
        </div>
    </div>
    <!-- / wpf loader Two -->
    <!-- SCROLL TOP BUTTON -->
    <a class="scrollToTop" href="#"><i class="fa fa-chevron-up"></i></a>
    <!-- END SCROLL TOP BUTTON -->
    <!-- Start header section -->
    <header id="aa-header">
        <!-- start header top  -->
        <div class="aa-header-top">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="aa-header-top-area">
                            <!-- start header top left -->
                            <div class="aa-header-top-left">
                                <!-- start language -->
                                <div class="aa-language">
                                    <div class="dropdown">
                                        <a class="btn dropdown-toggle" href="#" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                            <img src="~/img/flag/vietnam.png" alt="english flag">Tiếng Việt
                                            <span class="caret"></span>
                                        </a>
                                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                            <li><a href="#"><img src="~/img/flag/english.jpg" alt="">Tiếng Anh</a></li>
                                            <li><a href="#"><img src="~/img/flag/vietnam.png" alt="">Tiếng Việt</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <!-- / language -->
                                <!-- start currency -->
                                <div class="aa-currency">
                                    <div class="dropdown">
                                        <a class="btn dropdown-toggle" href="#" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                            <i class="fa fa-usd"></i>USD
                                            <span class="caret"></span>
                                        </a>
                                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                            <li><a href="#"><i class="fa fa-euro"></i>VNĐ</a></li>
                                            <li><a href="#"><i class="fa fa-jpy"></i>USA</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <!-- / currency -->
                                <!-- start cellphone -->
                                <div class="cellphone hidden-xs">
                                    <p><span class="fa fa-phone"></span>(+84) 168-742-8056</p>
                                </div>
                                <!-- / cellphone -->
                            </div>
                            <!-- / header top left -->
                            <div class="aa-header-top-right">
                                <ul class="aa-head-top-nav-right">
                                    <li class="hidden-xs"><a href="wishlist.html">Wishlist</a></li>
                                    <li class="hidden-xs"><a href="cart.html">Giỏ hàng</a></li>
                                    @{
                                        String uname = Session[Constants.LOGIN_SESSION] as String;
                                        if (Session[Constants.LOGIN_SESSION] == null)
                                        {
                                            <li><a href="" data-toggle="modal" data-target="#login-modal">Đăng nhập</a></li>
                                        }
                                        else
                                        {
                                            <li><a href="account.html">@uname</a></li>
                                        }
                                    }
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- / header top  -->
        <!-- start header bottom  -->
        <div class="aa-header-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="aa-header-bottom-area">
                            <!-- logo  -->
                            <div class="aa-logo">
                                <!-- Text based logo -->
                                <a href="index.html">
                                    <span class="fa fa-shopping-cart"></span>
                                    <p>daily<strong>Shop</strong> <span>Your Shopping Partner</span></p>
                                </a>
                                <!-- img based logo -->
                                <!-- <a href="index.html"><img src="img/logo.jpg" alt="logo img"></a> -->
                            </div>
                            <!-- / logo  -->
                            <!-- cart box -->
                            @Html.Action("CartPartial", "Cart")
                            <!-- / cart box -->
                            <!-- search box -->
                            <div class="aa-search-box">
                                <form action="">
                                    <input type="text" name="" id="" placeholder="Search here ex. 'man' ">
                                    <button type="submit"><span class="fa fa-search"></span></button>
                                </form>
                            </div>
                            <!-- / search box -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- / header bottom  -->
    </header>
    <!-- / header section -->
    <!-- menu -->
    @Html.Action("CatagoryPartial", "Catagory")
    <!-- / menu -->
    @RenderBody()

    <!-- footer -->
    <footer id="aa-footer">
        <!-- footer bottom -->
        <div class="aa-footer-top">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="aa-footer-top-area">
                            <div class="row">
                                <div class="col-md-3 col-sm-6">
                                    <div class="aa-footer-widget">
                                        <h3>Daily Shop</h3>
                                        <ul class="aa-footer-nav">
                                            <li><a href="#">Trang chủ</a></li>
                                            <li><a href="#">Giới thiệu</a></li>
                                            <li><a href="#">Liên hệ</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-6">
                                    <div class="aa-footer-widget">
                                        <div class="aa-footer-widget">
                                            <h3>Chăm sóc khách hàng</h3>
                                            <ul class="aa-footer-nav">
                                                <li><a href="#">Các bước đặt hàng</a></li>
                                                <li><a href="#">Hướng dẫn chọn kích cỡ</a></li>
                                                <li><a href="#">Hình thức thanh toán</a></li>
                                                <li><a href="#">Chính sách đổi hàng & vận chuyển</a></li>
                                                <li><a href="#">Chính sách khách hàng thân thiết</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-6">
                                    <div class="aa-footer-widget">
                                        <div class="aa-footer-widget">
                                            <h3>Tài khoản</h3>
                                            <ul class="aa-footer-nav">
                                                <li><a href="#">Đăng kí</a></li>
                                                <li><a href="#">Đăng nhập</a></li>
                                                <li><a href="#">Chính sách bảo mật</a></li>
                                                <li><a href="#"><b>Website liên kết</b></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-6">
                                    <div class="aa-footer-widget">
                                        <div class="aa-footer-widget">
                                            <h3>Contact Us</h3>
                                            <address>
                                                <p> Bét E Vờ, HaNoi, Viet Nam</p>
                                                <p><span class="fa fa-phone"></span>(+84) 168-477-8056</p>
                                                <p><span class="fa fa-envelope"></span>thaicuong261@gmail.com</p>
                                            </address>
                                            <div class="aa-footer-social">
                                                <a href="#"><span class="fa fa-facebook"></span></a>
                                                <a href="#"><span class="fa fa-twitter"></span></a>
                                                <a href="#"><span class="fa fa-google-plus"></span></a>
                                                <a href="#"><span class="fa fa-youtube"></span></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- footer-bottom -->
        <div class="aa-footer-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="aa-footer-bottom-area">
                            <p>Designed by <a href="http://www.markups.io/">MarkUps.io</a></p>
                            <div class="aa-footer-payment">
                                <span class="fa fa-cc-mastercard"></span>
                                <span class="fa fa-cc-visa"></span>
                                <span class="fa fa-paypal"></span>
                                <span class="fa fa-cc-discover"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- / footer -->
    @Html.Action("LoginPartial", "Home")
</body>
</html>