@using Shopping.Models.DataModel
@using Shopping.Models.Helper
@model Product
@{
    ViewBag.Title = "Id";
    Layout = "~/Views/Layout/_Layout.cshtml";
}
<!--banner-->
<div class="banner-top">
    <div class="container">
        <h1>Product</h1>
        <em></em>
        <h2><a href="@Url.Action("Index", "Home")">Home</a><label>/</label>Product</a></h2>
    </div>
</div>

<div class="single">
    <div class="container">
        <div class="col-md-9">
            <div class="col-md-5 grid">
                <div class="flexslider">
                    <ul class="slides">
                        <li data-thumb="images/si.jpg">
                            <div class="thumb-image"> <img src="@Url.Content(Constants.IMAGE_PRODUCT_PATH + @Model.Image)" data-imagezoom="true" class="img-responsive"> </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-7 single-top-in">
                <div class="span_2_of_a1 simpleCart_shelfItem">
                    <h3>@Model.Name</h3>
                    <p class="in-para">@Model.Description</p>
                    <div class="price_single">
                        <span class="reducedfrom item_price">@Model.Price</span>
                        <div class="clearfix"></div>
                    </div>
                    <a href="@Url.Action("AddToCart", "Cart", new { @productId = Model.Id, @strUrl = Request.Url.ToString() })" class="add-to item_add hvr-skew-backward">Thêm vào giỏ hàng</a>
                    <div class="clearfix"> </div>
                </div>

            </div>
            <div class="clearfix"> </div>
        </div>
        <!----->
    </div>
</div>

<script src="~/Template/js/imagezoom.js"></script>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script defer src="~/Template/js/jquery.flexslider.js"></script>
<link rel="stylesheet" href="~/Template/css/flexslider.css" type="text/css" media="screen" />

<script>
    // Can also be used with $(document).ready()
    $(window).load(function () {
        $('.flexslider').flexslider({
            animation: "slide",
            controlNav: "thumbnails"
        });
    });
</script>