@using Shopping.MyService
@using Shopping.Models.Helper
@model List<Product>
@{
    int count = 0;
}
<!--products-->
<div class="content-mid">
    <h3>Sản phẩm mới nhất</h3>
    <label class="line"></label>
    <div class="mid-popular">
        @for (int i = 0; i <= 3; i++)
        {
            count++;
            <div class="col-md-3 item-grid simpleCart_shelfItem">
                <div class=" mid-pop">
                    <div class="pro-img">
                        <a href="@Url.Action("Id", "Product", new { @Id = Model[i].Id })">
                            <img src="@Url.Content(Constants.IMAGE_PRODUCT_PATH + @Model[i].Image)" class="img-responsive" alt="" />
                        </a>
                    </div>
                    <div class="mid-1">
                        <div class="women">
                            <div class="women-top">
                                <span>@Model[i].Name</span>
                                <p><em class="item_price">Giá: @Model[i].Price VND</em></p>
                            </div>
                            <div class="img item_add">
                                <a href="@Url.Action("AddToCart", "Cart", new { @productId = Model[i].Id, @strUrl = Request.Url.ToString() })"><img src="~/Template/images/ca.png" alt=""></a>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </div>
        }
        <div class="clearfix"></div>
    </div>
    <div class="mid-popular">
        @for (int i = 4; i <= 7; i++)
        {
            count++;
            <div class="col-md-3 item-grid simpleCart_shelfItem">
                <div class=" mid-pop">
                    <div class="pro-img">
                        <a href="@Url.Action("Id", "Product", new { @Id = Model[i].Id })">
                            <img src="@Url.Content(Constants.IMAGE_PRODUCT_PATH + @Model[i].Image)" class="img-responsive" alt="">
                        </a>
                    </div>
                    <div class="mid-1">
                        <div class="women">
                            <div class="women-top">
                                <span>@Model[i].Name</span>
                                <p><em class="item_price">Giá: @Model[i].Price VND</em></p>
                            </div>
                            <div class="img item_add">
                                <a href="@Url.Action("AddToCart", "Cart", new { @productId = Model[i].Id, @strUrl = Request.Url.ToString() })"><img src="~/Template/images/ca.png" alt=""></a>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </div>
        }
        <div class="clearfix"></div>
    </div>
</div>
<!--//products-->