@using AdvancedWeb.Models.DataModel
@using AdvancedWeb.Models.DAO
@using AdvancedWeb.Models.Helper
@model List<Product>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/MasterPage/_HomeLayout.cshtml";
    int CatId = (int)ViewBag.CatId;
}

<script>
    $(document).ready(function () {
        $("#selCount").change(function () {
            var selected = $(this).val();
            $.get("@Url.Action("ProductByCatIdPartial")",
                { Id: @CatId, count: selected },
                function (data) {
                    $(".aa-product-catg").html(data);
                });
        });

        $("#selSort").change(function(){
            var item = $(this).first().val();
            $.get("@Url.Action("ProductByCatIdSortPartial")",
                { Id: @CatId, sortOrder: item },
                function (data) {
                    $(".aa-product-catg").html(data);
                });
        });

        jQuery(function () {
            if ($('form').is('.productPage')) {
                var skipSlider = document.getElementById('skipstep');
                noUiSlider.create(skipSlider, {
                    range: {
                        'min': 0,
                        '10%': 200,
                        '20%': 400,
                        '30%': 600,
                        '40%': 800,
                        '50%': 1000,
                        '60%': 1200,
                        '70%': 1400,
                        '80%': 1600,
                        '90%': 1800,
                        'max': 2000
                    },
                    snap: true,
                    connect: true,
                    start: [0, 2000]
                });
                // for value print
                var skipValues = [
                  document.getElementById('skip-value-lower'),
                  document.getElementById('skip-value-upper')
                ];

                skipSlider.noUiSlider.on('update', function (values, handle) {
                    $.get("@Url.Action("ProductByCatIdFilterPartial")", 
                        { Id: @CatId, minPrice: values[0], maxPrice: values[1] },
                        function(data){
                            $(".aa-product-catg").html(data);
                        });
                    skipValues[handle].innerHTML = values[handle];
                });
            }
        });
    });
</script>

<form class="productPage">
    <!-- catg header banner section -->
    <section id="aa-catg-head-banner">
        <img src="~/img/fashion/fashion-header-bg-8.jpg" alt="fashion img">
        <div class="aa-catg-head-banner-area">
            <div class="container">
                <div class="aa-catg-head-banner-content">
                    <h2>Fashion</h2>
                    <ol class="breadcrumb">
                        <li><a href="index.html">Home</a></li>
                        <li class="active">Women</li>
                    </ol>
                </div>
            </div>
        </div>
    </section>
    <!-- / catg header banner section -->
    <!-- product category -->
    <section id="aa-product-category">
        <div class="container">
            <div class="row">
                <div class="col-lg-9 col-md-9 col-sm-8 col-md-push-3">
                    <div class="aa-product-catg-content">
                        <div class="aa-product-catg-head">
                            <div class="aa-product-catg-head-left">
                                <form action="" class="aa-sort-form">
                                    <label for="">@VNLang.SORT_BY</label>
                                    <select name="" id="selSort">
                                        <option value="1">@VNLang.SORT_BY_NAME</option>
                                        <option value="2">@VNLang.SORT_BY_PRICE</option>
                                    </select>
                                </form>
                                <form action="" class="aa-show-form">
                                    <label for="">@VNLang.DISPLAY_FOR</label>
                                    <select name="" id="selCount">
                                        <option value="20">Mặc định</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                    </select>
                                </form>
                            </div>
                            <div class="aa-product-catg-head-right">
                                <a id="grid-catg" href="#"><span class="fa fa-th"></span></a>
                                <a id="list-catg" href="#"><span class="fa fa-list"></span></a>
                            </div>
                        </div>
                        <div class="aa-product-catg-body">
                            <ul class="aa-product-catg">
                                @{
                                    foreach (var item in Model)
                                    {
                                        <li>
                                            <figure>
                                                <a class="aa-product-img" href="#"><img src="@Url.Content(Constants.PATH_TO_IMAGE + @item.Image)" alt="polo shirt img"></a>
                                                <a class="aa-add-card-btn" href="#"><span class="fa fa-shopping-cart"></span>@VNLang.ADD_TO_CART</a>
                                                <figcaption>
                                                    <h4 class="aa-product-title"><a href="#">@item.Name</a></h4>
                                                    <span class="aa-product-price">@item.Price</span><span class="aa-product-price"></span>
                                                    <p class="aa-product-descrip">@item.Description</p>
                                                </figcaption>
                                            </figure>
                                            <div class="aa-product-hvr-content">
                                                <a href="#" data-toggle="tooltip" data-placement="top" title="Add to Wishlist"><span class="fa fa-heart-o"></span></a>
                                                <a href="#" data-toggle="tooltip" data-placement="top" title="Compare"><span class="fa fa-exchange"></span></a>
                                                <a href="#" data-toggle2="tooltip" data-placement="top" title="Quick View" data-toggle="modal" data-target="#quick-view-modal"><span class="fa fa-search"></span></a>
                                            </div>
                                            <!-- product badge -->
                                            @*<span class="aa-badge aa-sale" href="#">SALE!</span>*@
                                        </li>
                                    }
                                }
                            </ul>
                        </div>
                        <!--Phan trang-->
                        <div class="aa-product-catg-pagination">
                            <nav>
                                <ul class="pagination">
                                    <li>
                                        <a href="#" aria-label="Previous">
                                            <span aria-hidden="true">&laquo;</span>
                                        </a>
                                    </li>
                                    <li><a href="#">1</a></li>
                                    <li><a href="#">2</a></li>
                                    <li><a href="#">3</a></li>
                                    <li><a href="#">4</a></li>
                                    <li><a href="#">5</a></li>
                                    <li>
                                        <a href="#" aria-label="Next">
                                            <span aria-hidden="true">&raquo;</span>
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-4 col-md-pull-9">
                    <aside class="aa-sidebar">
                        <div class="aa-sidebar-widget">
                            <h3>Shop By Price</h3>
                            <!-- price range -->
                            <div class="aa-sidebar-price-range">
                                <form action="">
                                    <div id="skipstep" class="noUi-target noUi-ltr noUi-horizontal noUi-background">
                                    </div>
                                    <span id="skip-value-lower" class="example-val">300.00</span>
                                    <span id="skip-value-upper" class="example-val">1000.00</span>
                                    <button class="aa-filter-btn" type="submit">Filter</button>
                                </form>
                            </div>
                        </div>
                        <!-- single sidebar -->
                        <div class="aa-sidebar-widget">
                            <h3>Top Rated Products</h3>
                            <div class="aa-recently-views">
                                <ul>
                                    <li>
                                        <a href="#" class="aa-cartbox-img"><img alt="img" src="~/img/woman-small-2.jpg"></a>
                                        <div class="aa-cartbox-info">
                                            <h4><a href="#">Product Name</a></h4>
                                            <p>1 x $250</p>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </aside>
                </div>

            </div>
        </div>
    </section>
    <!-- / product category -->
</form>