@using AdvancedWeb.Models.Helper
@using AdvancedWeb.Models.DAO
@using AdvancedWeb.Models.DataModel
@model List<Product>

@{
    var lstCat = CatagoryDAO.Instance.GetCatagoryToList();
}

<!-- Products section -->
<section id="aa-product">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="aa-product-area">
                        <div class="aa-product-inner">
                            <!-- start prduct navigation -->
                            <ul class="nav nav-tabs aa-products-tab">
                                <li class="active"><a href="#men" data-toggle="tab">@VNLang.MEN</a></li>
                                <li><a href="#women" data-toggle="tab">@VNLang.WOMAN</a></li>
                                <li><a href="#kid" data-toggle="tab">@VNLang.KID</a></li>
                                <li><a href="#shoes" data-toggle="tab">@VNLang.SHOES</a></li>
                            </ul>
                            <!-- Tab panes -->

                            <div class="tab-content">
                                @Html.Action("NewMenProduct", "Product")
                                @Html.Action("NewWomanProduct", "Product")
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- / Products section -->
